.solution-explorer {
  display: block;
  width: 250px;
  height: 100%;
  min-width: 200px;
  padding-bottom: 45px;
  background-color: #f7f7f7;
  border-right: 2px solid #dcdbdb;
  user-select: none;
}

.solution-explorer-panel {
  position: relative;
  height: 100%;
}

.solution-explorer-panel__header {
  padding: 5px 5px;
  display: flex;
  color: #a5a5a5;
  border-bottom: 2px solid #dcdbdb;
}

.solution-explorer-panel__header-name {
  font-size: 16px;
  flex: 1;
}

.solution-explorer-panel__actions {
  display: flex;
}

.solution-explorer-panel__actions button {
  padding: 0 2px;
  background: transparent;
  border: none;
  vertical-align: middle;
}

.solution-explorer-panel__input {
  visibility: hidden;
  height: 0;
}

.solution-explorer-panel button {
  min-width: 20px;
}

/*
 * Remote Solution Modal Dialog
*/

.uri-input--invalid {
  border: 2px red solid;
}

.uri-input--invalid:focus {
  border: 2px red solid;
}




.remote-solution-list {
  margin-top: 14px;
  width: 100%;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.remote-solution-list__remote-solution {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  /*
   * Prevent double border at bottom
   */
  margin-bottom: -1px;
  overflow: hidden;
  color: darkgray;
  border-bottom: 1px solid #ccc;
  user-select: none;
  cursor: pointer;
}

.remote-solution-list__remote-solution:hover {
  background-color: rgba(204, 204, 204, 0.25);
  color: black;
}

.remote-solution-list__solution-data {
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}

.remote-solution-list__remote-solution-selected {
  background-color: rgba(204, 204, 204, 0.5) !important;
  color: black;
}
