.section-panel {
  margin-bottom: 2px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.panel:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.panel--grow {
  flex: 1 100%;
  margin-top: 2px;
}

.panel__heading {
  padding: 5px 10px;
  font-weight: 400;
  color: #a5a5a5;
  user-select: none;
}

.panel__content {
  padding: 5px 10px;
  font-size: 12px;
}

.props-table {
  width: 100%;
}

.props-table th {
  width: 40px;
  padding: 5px 10px 5px 0;
  font-weight: normal;
  color: #a5a5a5;
}

.props-table td {
  width: 100%;
  padding: 5px 0;
  color: #a5a5a5;
}

.props-input {
  width: 100%;
  padding-bottom: 5px;
  margin-top: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 400;
  color: #5c5c5c;
  text-overflow: ellipsis;
}

.props-input:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.props-select {
  padding-right: 22px;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  outline: none;
}

.props-textarea {
  width: 100%;
  min-height: 2em;
  max-height: 200px;
  padding-bottom: 5px;
  padding-right: 17px;
  margin-top: 5px;
  background: transparent;
  border: 1px solid #e9e9e9;
  font-weight: 400;
  color: #5c5c5c;
  resize: vertical;
}

.props-textarea:disabled {
  opacity: 0.5;
}

.props-table--clear-button {
  top: 2px;
  right: 15px;
}

.add-context-button {
  float: right;
  padding: 2px 7px;
  background-color: transparent;
  border: none;
}

.add-context-button:disabled {
  cursor: default;
  opacity: 0.2;
  color: inherit;
  pointer-events: none;
}

.remove-context-button:disabled {
  cursor: default;
  opacity: 0.2;
  color: inherit;
  pointer-events: none;
}

.remove-context-button {
  float: right;
  padding: 2px 7px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
}

.key-value-delete-button {
  padding-top: 2px;
  background: transparent;
  border: none;
}

.key-value-delete-button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.key-value-delete-button:hover:disabled {
  opacity: 0.2;
  color: darkgrey;
  pointer-events: none;  
}
