.cronjob-list__last-table-cell {
  width: 1%;
  white-space: nowrap;
}

.pagination {
  padding-right: 0px;
  justify-content: center;
}

.loading-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.cronjob-list-container {
  flex: 1;
}

.cronjob-list-item-modelname:hover {
  color: inherit;
}

.cronjob-list-header {
  float: left;
}

.cronjob-list-total-count {
  float: right;
  margin-top: 7px;
}
